

<!-- signup -->
<div  class="user-auth"> 
  <div *ngIf="!showLogin" class="user-signUp">
      <body>
          <div style="width: 40%;" class="signup-container">
              <h2>Create an Account</h2>
              <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="signup-form">
                  <div class="form-group">
                      <label for="name">Full Name</label>
                      <input type="text" id="name" name="name"  ngModel name="name" required>
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" ngModel name="email" #email="ngModel" required email> <p class="p_error"><span *ngIf="email.invalid && email.touched" > Please Enter valid email</span></p>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" id="password" name="password" ngModel name="password" minlength="3" maxlength="7" #password="ngModel"  required password><p class="p_error"><span *ngIf="password.invalid && password.touched" > Please Enter valid password</span></p>
                  </div>
                  <button type="submit">Sign Up</button>
                  <p style="cursor: pointer;">Already a member on Nike?<a (click)="openLogin()"><br><u>Log In</u></a></p>
              </form>
          </div>
      </body> 
  </div>


  <div *ngIf="showLogin" class="user-login">
    <body>
        <div style="width: 40%;" class="signup-container">
            <h2>Seller Log In</h2>
            <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)"  class="signup-form">
               <p class="p_error">{{authError}}</p>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" autocomplete="off" name="email" ngModel #email="ngModel" required email> <p class="p_error"><span *ngIf="email.invalid && email.touched" > Please Enter valid email</span></p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" autocomplete="off" name="password" ngModel minlength="3" maxlength="7" #password="ngModel" required><p class="p_error"><span *ngIf="password.invalid && password.touched" > Please Enter valid password</span></p>
                </div>
                <button  [disabled]="sellerLogin.disabled "  type="submit">Login</button>
                <p style="cursor: pointer;">New member on Nike?<a (click)="opneSignup()"><br><u>SignUp</u></a></p>
            </form>
        </div>
    </body> 
</div>
</div>

<!-- ------------------------------------------------------------------------------------------------- -->
<!-- <html>
<body>
<div class="signUp" *ngIf="!showLogin">
<form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" >
    <div class="form-group">
        <h1>Seller Sign-up!</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Enter Your Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" ngModel name="name">
          <div id="name" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel
            name="email">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password">
        </div>
        
        <button type="submit" class="btn btn-primary">SignUp</button><br>
        Already a member on ShopJunction?<a (click)="openLogin()"><br><u>Log In</u></a>
        </div>
  </form>
</div> -->


<!-- Login form -->
<!-- <div class="Login" *ngIf="showLogin">
<form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" >
  <div class="form-group">
      <h1>Seller Log In!</h1>
      <p style="color: red;">{{authError}}</p>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel
          name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password">
      </div>
      
      <button type="submit" class="btn btn-primary">LogIn</button><br>
      Already a member on ShopJunction?<a (click)="opneSignup()"><br><u>SignUp</u></a>
      </div>
</form> -->


