
<div class="navbar-container">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand" href="#"><img style="margin-left: 14px;"
        src="https://www.nicepng.com/png/detail/11-111341_nike-orange-nike-logo-png.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" onclick="myFunction()">=</span>
    
      
    </button>
    <!-- Search bar -->
    <div *ngIf="menuType==='default'" style="margin-right: 10%;" class="d-flex" role="search">
      <input class="form-control me-2" type="text" #searchInput (keyup)="searchProduct($event)" placeholder="Search">
      <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-success" type="submit">Search</button>
      <ul class="suggest-search" [class.show]="searchResult.length > 0">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
        </li>
      </ul>
    </div>

    <!-- Search bar for user -->
    <div *ngIf="menuType==='user'" style="margin-right: 10%;" class="d-flex" role="search">
      <input class="form-control me-2" type="text" #searchInput (keyup)="searchProduct($event)" placeholder="Search">
      <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-success" type="submit">Search</button>
      <ul class="suggest-search" [class.show]="searchResult.length > 0">
        <li *ngFor="let item of searchResult">
          <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
        </li>
      </ul>
    </div>

    <!-- for main default navbar -->
    <div [ngSwitch]="menuType" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/men" routerLinkActive="active">Men</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/women" routerLinkActive="active">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="seller-auth" routerLinkActive="active">Seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">MyCart({{cartItems}})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/user-auth" routerLinkActive="active">User</a>
        </li>
      </ul>

      <!------------------------ for seller nav --------------------->
      <ul *ngSwitchCase="'seller'" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="seller-home" routerLinkActive="active">Product
            List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="seller-add-product" routerLinkActive="active">Add
            Product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;" aria-current="page" (click)="logout()"
            routerLinkActive="active">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">{{sellerName}}</a>
        </li>

      </ul>

      <!-------------------- for usernav -------------------->
      <ul *ngSwitchCase="'user'" id="myLinks" style="margin-left: -30px;" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="men" routerLinkActive="active">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="women" routerLinkActive="active">Women</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;" aria-current="page" (click)="userLogout()"
            routerLinkActive="active">Log Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="my-orders">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">{{userName |titlecase}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="cartItems>0?'cart-page':null">MyCart({{cartItems}})</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>


