/* for upper nav */

.navbar-container{
 
}
.navlist {
  background-color: #0074D9;
  width: 100%;
}

/* for main nav */
.navbar-brand img {
  max-width: 100px;
  max-height: 50px;
}

.custom-navbar {
  background-color: white;
  color: black;
  height: 100px;
  padding: 0 20px;
}

.custom-navbar .nav-link {
  color: black;
}

.custom-navbar .navbar-toggler-icon {
  background-color: black;
}

.navbar-nav {
  margin-left: 20px;
}

.nav-item {
  font-size: 17px;
  font-weight: 500;
  padding: 12px;
}

.collapse ul {
  margin-left: 0;
}

.form-control {
  border: 1px solid black;
  width: 250px; /* Adjust the width as needed */
}

.suggest-search {
  position: absolute;
  z-index: 10;
  background-color: white;
  top: 70px;
  border: 1px gray solid;
  width: 100%;
  display: none;
}

.suggest-search.show {
  display: block;
  color: gray;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav {
      margin-left: 0;
  }

  .form-control {
      width: 100%; /* Full width input in small screens */
  }
}