<!-- --------------------- -->
<div class="sub-nav">
    <marquee style="text-align: center;" width="40%" direction="up" height="50px">
        Hello Nike App <br>
        Download the app to access everything Nike. <a href="">Get Your Great</a>
    </marquee>
</div>
<!-- Run up card -->
<mat-card class="example-card">
    <mat-card-header>

        <mat-card-title style="font-weight:bolder; size: 20px; font-size:230%;">RUN YOUR RUN</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Follow the feeling that keeps you running your the best city.</p>
        <p>{{ longText }}</p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button style="background-color: black; border-radius: 35px; color: white;">Shop Apparel</button>
        <button mat-button style="background-color: black; border-radius: 35px; color: white;">Shop Footwear</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
<br>

<!--category -------------------------- -->


<div>
    <h3>Gear Up</h3>
</div>
<div class="gearUp-container">
    <div>
        <mat-card class="example-card1">
            <img mat-card-image
                src="https://images.unsplash.com/photo-1553891562-c4488738949b?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>

                <button mat-button
                    style="background-color: #ff4500; color: white; border-radius: 20px; position: absolute;">Shop
                    Infinity</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div>
        <mat-card class="example-card1">
            <img mat-card-image
                src="https://images.unsplash.com/photo-1647803927752-bc5b72faa9d6?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    style="background-color: #ff4500; color: white; border-radius: 20px; position: absolute;">Shop
                    Infinity</button>
            </mat-card-actions>
        </mat-card>
    </div>


    <div>
        <mat-card class="example-card1">
            <img mat-card-image
                src="https://images.unsplash.com/photo-1556906781-9a412961c28c?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bmlrZXxlbnwwfHwwfHx8MA%3D%3D"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    style="background-color: #ff4500; color: white; border-radius: 20px; position: absolute;">Shop
                    Infinity</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- vid on div -->

<div id="video-container">
    <video  id="fullscreen-video"controls autoplay>
      <source src="https://player.vimeo.com/external/568623396.sd.mp4?s=baddfd4dbf060fe003e35d4a5f52df9efd61cbf4&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>


  
<!-- cards material -->

<div class="content">
    <div>
        <h3>Recommended Products</h3>
    </div>

    <!-- <div  fxLayout="row wrap" fxLayoutGap="16px"> -->
    <div class="cardContainer">
        <div *ngFor="let item of trendyProducts">
            <mat-card
                style=" box-shadow: 0 4px 8px 0 rgba(90, 89, 89, 0.2), 0 6px 29px 0 rgb(107, 105, 106); margin: 10px; margin: 10px; "
                class="mat-elevation-z4">
                <div class="mat-image">
                    <img mat-card-image src="{{item.image}}" />
                </div>
                <mat-card-content style="margin-top: 10px;">
                    <h6>Price:{{item.price}}</h6>
                    <p>color:{{item.color}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button routerLink='/details/{{item.id}}'
                        style="color: rgb(128, 0, 255); border: 1px solid rgb(128, 0, 255)  ; margin: 5px; border-radius: 7px;"
                        mat-button>View Details</button>
                    <button
                        style="color: rgb(128, 0, 255);border: 1px solid rgb(128, 0, 255) ; margin: 5px; border-radius: 7px;"
                        mat-button>Add to Cart</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <!-- </div> -->

</div>